*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
h1, h2, h3 {
    color: #2c3e50;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body{
    padding: 20px;

}
form{
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #5c5a5a;
    
}
input{
    height:30px;
    
}